torch==1.12.0+computecanada
torchvision==0.13.0+computecanada
numpy==1.19.2
tb-nightly==2.11.0a20220818
pyparsing==2.4.7

dm-env==1.5
hydra-core==1.1.1
hydra-submitit-launcher==1.1.6
pandas
tdqm

absl-py==1.2.0
mujoco_py==2.1.2.14
dm_control
opencv-python==4.5.1.48+computecanada
imageio==2.9.0
imageio-ffmpeg==0.4.4
termcolor
scikit-image
scipy
pyyaml
git+https://github.com/rlworkgroup/metaworld.git@master#egg=metaworld