torch
torchvision
numpy
tb-nightly
pyparsing

dm-env
hydra-core
hydra-submitit-launcher
pandas
tdqm

absl-py
dm_control
opencv-python
imageio
imageio-ffmpeg
termcolor
scikit-image
scipy
pyyaml

git+https://github.com/rlworkgroup/metaworld.git@master#egg=metaworld